#leftDiv{
    margin: 0;
    width:1120px;
    height: 700px;
    background-image: url("https://i.ibb.co/0XLMLd5/freshorigins.jpg");
    background-size: cover;
    float: left;
    border: 1px solid black;   
}

#rightDiv{
    float: right;
    width: 300px;
    margin: 0;
    height: 720px;
    margin-top:300px;
}
#head{
    text-align: right; 
    margin-right: 50px; 
    color: orange;
}
#flowerImage{
     background-image: url("https://i.ibb.co/J5XKyPt/animated-flower-image-0021.gif");
     background-size: cover;
     background-position: center;
     width: 110px;
     height: 100px;
     margin-left: 50px;
}